/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* general styling*/

body {
    font-family: Arial;
}
a {
    text-decoration: none;
}
.clear {
    clear: both;
}
/* Header styling*/

.header {
    background-color: #282828;
    /*  padding-top: 10px;
    padding-bottom: 9px;
*/
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.logo {
    float: left;
    padding-top: 10px;
    padding-bottom: 9px;
}
.header ul {
    float: right;
}
.header ul li {
    float: left;
}
.header ul li a {
    color: #ffffff;
    font-size: 15px;
    line-height: 17px;
    display: block;
    padding: 30px;
    border-top: 1px solid #1a1a1a;
    /*for removing the toggle effect*/
}
.header ul li a:hover {
    background-color: #1a1a1a;
    border-top: 1px solid #ff0000;
}
.header ul li a.active {
    border-top: 1px solid #ff0000;
}
.contact_image {
    width: 20px;
    height: 20px;
    margin-top: 30px;
    margin-left: 20px;
    float: right;
    margin-right: 50px;
}
.anirbans {
    margin-top: 30px;
    color: #ffffff;
    font-size: 15px;
    float: right;
    line-height: 17px;
}
.anirbans_image {
    margin-left: 10px;
}
/*Hedaer Styling ends*/

.buttongroups {
    float: right;
}
.search-wrapper,
.filter-wrapper {
    float: left;
}
.search-wrapper input {
    float: left;
}
.serachbtn {
    float: left;
}
.search-wrapper .searchbtn {
    margin-left: 0;
}

.wrapper {
    border-bottom: 1px solid #DADADA;
    padding-top: 20px;
    padding-bottom: 20px;
}
input {
    height: 25px;
    padding-left: 10px;
    font-size: 14px;
}
.filter-wrapper {
    margin-left: 20px;
}
.filterlabel {
    padding-left: 20px;
    padding-right: 10px;
}
.searchbtn {
    margin: 0px;
    width: 30px;
    height: 30px;
}
.buttongroup {
    float: right;
}
.buttongroup button {
    color: #606060;
    padding: 5px;
    width: 100px;
    height: 30px;
    border: 1px solid #DADADA;
    margin-left: 15px;
    background: -webkit-linear-gradient(#fff, #F1F1F1);
    /* For Safari 5.1 to 6.0 */

    background: -o-linear-gradient(#fff, #F1F1F1);
    /* For Opera 11.1 to 12.0 */

    background: -moz-linear-gradient(#fff, #F1F1F1);
    /* For Firefox 3.6 to 15 */

    background: linear-gradient(#fff, #F1F1F1);
    /* Standard syntax (must be last) */
}
table {
    width: 100%;
    /*table is block level element*/
}
table tr {
    border-bottom: 1px solid #DADADA;
}
table tr td {
    padding-top: 21px;
    padding-bottom: 24px;
}
.next,
.checkbox {
    width: 16px;
    height: 16px;
}
.column-next {
    width: 3%;
}
.column-boldtext {
    width: 20%;
}
.column-normaltext {
    width: 73%;
}
.column-checkbox {
    width: 4%;
}
.boldtext {
    font-size: 16px;
    line-height: 18px;
    color: #1a1a1a;
    font-weight: bold;
}
.normaltext {
    font-size: 14px;
    line-height: 16px;
    color: #646464;
}
.dotsimage {
    padding-top: 50px;
    padding-bottom: 40px;
    display: block;
    margin: 0 auto;
}
.footer {
    background-color: #282828;
    padding-top: 13px;
    padding-bottom: 15px;
}
.footer p {
    text-align: center;
    font-size: 12px;
}
.whitetext {
    color: #fff;
}
.redtext {
    color: #C2243B;
}
