/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* general styling*/

body {
    font-family: Arial;
}
a {
    text-decoration: none;
}
.clear {
    clear: both;
}
/* Header styling*/

.container {
    width: 1170px;
    margin: 0 auto;
}
.header {
    background-color: #282828;
		border-bottom: 1px solid #D1D1D1;
}

.logo {
    float: left;
    padding-top: 6px;
    padding-bottom: 5px;
}
.header ul {
    float: right;
}
.header ul li {
    float: left;
}
.header ul li a {
    display: block;
		color: #ffffff;
		font-size: 14px;
		line-height: 18px;
		padding: 28px 23px 28px 20px;
		font-weight: bold;
	}
.header ul li a:hover {
    background-color: #C2243B;;
  }
.header ul li a.active {
    background-color: #C2243B;;
  }

.header i.account_icon {
    background-image: url("../images/account.png");
    width: 8px;
		height: 4px;
		margin-left: 6px;
		display: inline-block;
		vertical-align: middle;
}
.header i.logout_icon {
    background-image: url("../images/logout.png");
    width: 13px;
		height: 16px;
		margin-left: 6px;
		vertical-align: middle;
		display: inline-block;
}
/*Header Styling ends*/

/*subHeader Styling */
.subheader
{
	margin-top: 1px;
	background-color: #F1F1F1;
	border-bottom: 1px solid #D1D1D1;
}
.subheader h2
{
	font-size: 44.72px;
	line-height: 47px;
	padding-top: 26px;
	padding-bottom: 17px;
color:#cc3333;
font-weight: normal;
float: left;
margin-left: 26px;
margin-right: 6px;
}
.subheader ul
{
	float: left;

}
.subheader ul li
{
	float: left;
}
.subheader ul li a {
    display: block;
	color: #333;
		font-size: 16px;
		line-height: 18px;
		padding-top: 41px;
		padding-bottom: 30px;
		padding-left: 35px;
		padding-right: 35px;
  }
.subheader ul li a:hover
{
color:#000;
background-color: #fff;

}

/*wrapper styling */

.list-wrapper
{
	width:600px;
	margin: 0 auto;
	padding-top: 53px;
padding-bottom: 62px;
border-bottom: 1px solid #C6C6C6;
padding-left: 90px;
padding-right: 90px;
}
.content-wrapper
{
	float: left;
	color:#000;
text-align: right;
}
.download-wrapper
{
	float: right;
}
.download-wrapper a
{
display: block;
margin-top: 16px;
font-size: 16px;
line-height: 24px;
color:#333;
border-bottom:1px solid #DDDDDD;
border-radius: 4px;
background-color: #EBEBEB;
padding: 5px 103px 5px 36px;
}
.wrapper .container ul li div.noborder
{
	border:none;
}
.content-wrapper img
{
	margin-top: 30px;
}
.content-wrapper p
{
	font-size: 16px;
	line-height: 18px;
	color:#000;
	margin-top: 10px;
}

.wrapper i
{
	background-image: url("../images/down_arrow.png");
width: 26px;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}


/*release notes division*/
.notediv
{
	margin-bottom: 93px;
	text-align: center;
}
.notediv a
{
	font-size: 16px;
	line-height: 18px;
	color:#000;
}
.notediv i
{
	background-image: url("../images/next_arrow.png");
	width: 16px;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
}
/*footer Styling */

.footer {
    background-color: #282828;
    padding-top: 21px;
    padding-bottom: 17px;
}
.footer p {
    text-align: center;
    font-size: 12px;
		line-height: 24px;
}
.whitetext {
    color: #fff;
}
.redtext {
    color: #cc3333;
}
