/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* custom styling*/
body
{
	font-family: Arial;
}
a {
    text-decoration: none;
}
.clear {
    clear: both;
}
.header {
    background-color: #808080;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.logo {
    width: 140px;
    height: 35px;
    float: left;
		background-color: #ff8000;
}
.header ul {
    float: left;
    margin-top: 8.5px;

}
.header ul li {
    float: left;
    margin-left: 80px;
}
.header ul li a {
    color: #aaaaaa;
    font-size: 18px;
    line-height: 20px;
}
.header ul li a:hover {
color: #444444;
}
.banner {
    background-color: #71c4ea;
    height: 485px;
		margin-bottom: 64px;
}
.wrapper{	margin-bottom:110px;
}
.work h2 {
	color: #444444;
	font-weight: bold;
	font-size: 36px;
	line-height: 38px;
	text-align: center;
}
.work ul {

	margin-top: 70px;
}
.work li {
	width:217.5px;
	margin-right: 75px;
	float:left;
}
.work ul li.clearlist {
	width: 0;
	margin: 0;
	float: none;
	clear: both;
	}
.circle_image {
display: block;
margin: 0 auto;
border-radius: 50%;
width:140px;
height: 140px;
background-color: #efefef;
}
.work p {
	font-size: 18px;
	line-height: 20px;
	color: #888888;
	text-align: center;
	margin-top: 15px;
}

.footer {
	  background-color: #ECECEC;
    padding-top: 15px;
    padding-bottom: 15px;
}
.footer ul {
margin-top: 5px;
		text-align: center;
}
.footer ul li {
/*float:left*/
    display: inline-block;
    margin-right: 40px;

}
.footer ul li a {
    color: #FF8000;
    font-size: 16px;

    line-height: 18px;
}
.footer ul li a:hover {
    color: #444444;
}
