.container-fluid
{
padding:60px 50px;
}
.btn, .navbar-default, .navbar-default .navbar-header .navbar-brand, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
.navbar-header .navbar-brand {
    color: #F05F40;
    font-size: 14px;
}
#header
{
  background-image: url('header.jpg');
  background-size: cover;
  background-repeat: none;
  background-position: center;
width:100%;
padding:213px 60px;

}

#about
{
  background-color:#F05F40;

}
#contact
{
  background-color: white;
  color:black;
  background-image: url('header.jpg');
  background-repeat: none;
  background-position: center;

}
.thumbnail
{
height:400px;
padding:0px;
}
#portfolio
{
  background-image: url('header.jpg');
  background-repeat: none;
  background-position: center;
}
#footer
{
	background-color: #333;

	font-size:13px;
}
.footertext
{
    text-decoration:none;
    color:#909090;
}
.footerimage
{
	height:20px;
}
